<header class="site-header">
  <a class="site-header__brand" href="/">Faltoobot</a>
  <nav class="site-header__nav" aria-label="Primary">
    <a href="/docs/">Docs</a>
    <a href="#install">Install</a>
    <a href="https://github.com/pratyushmittal/FaltooBot">GitHub</a>
  </nav>
</header>
